

body {
  /* padding: 0;
  margin: 0; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  background:lightgrey;
  font-family: Arial, Helvetica, sans-serif
}

.header {
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  /* margin-bottom: 20px; */
  font-size: larger;
  font-weight: bold;
  color:  #17a2b8;
  /* text-align: left; */
  /* position: relative; */
}

img {
  /* height: 100%; */
  max-width: 1024px;
  width: 100%;
  height: auto;
}

.active {
  
  border-color: #17a2b8 !important;
  border-width: 2px !important;
}

a {
  z-index: 2;
}

.article_img {
  /* position: relative; */
  float: left;
  width: 60%;
  height: auto;
  /* width: 80%; */
  /* max-width: 60%;
  height: auto; */
  /* margin: 10px; */
  z-index: 1;
}

.article_txt {
  position: relative;
  /* float: left; */
  padding: 5px;
  /* padding-right: 20px; */
  z-index: 0;
}

.viz_card {
  max-width: 45%;
  height: auto;
  /* border: 0; */
  /* padding: 20px;
  margin: 20px; */
}

.comp_card {
  max-width: 100%;
  height: auto;
  /* border: 0; */
  /* padding: 0; */
}


/* .viz_img {
  position: relative; 
  float: left;
  height: auto;
  max-width: 50%;

  /*
  padding: 10px 
} */

/* .comp_img {
  position: relative; 
  float: left;
  max-width: 100%;
  height: auto;
} */

.box {
  /* min-height: 50px; */
  padding: 5px;
  margin: 10px;
  margin-top: 20px;
  /* font-weight: 800; */
  background-color:  white;
  border-radius: 10px;
}


.navbar-brand {
  background: #17a2b8;
  margin-left: 20px;
  padding: 20px;
  border-radius: 6px;
  /* font-size: 150% ; */
  color: white !important;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  /* box-sizing: border-box;
  height: 120%; */
}

.nav-link {
  /* font-size: 100% ; */
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* #navbarNavDropdown {
  z-index:9; 
} */

